@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.heading {
  text-transform: uppercase;
  text-decoration: double;
  font-weight: 600;
  font-size: 40px;
  margin: 20px 0;
  z-index: 1;
  text-align: center;
}

@media (max-width: 768px) {
  .heading {
    margin: 15px 0;
    font-size: 30px;
  }
}
